@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
}

:root {
  --green-color: #27cb8b;
  --blue-color: #000dff;
  --background-green: #eafcfc;
  --btn-green-bg: #00d363;
  --text-green: #58e5e9;
  --text-blue: #000dff;

  --box-shadow: 0px 0px 10px 0.1px #ebebeb;
}

a {
  text-decoration: none;
}

p {
  color: #6d6e8d;
  font-weight: 500;
}

.navbar {
  position: relative;
  z-index: 999;
  background-color: #ffffff;
  /* border-bottom: 1px solid #ebebeb; */
}

.navbar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #ebebeb;
  background: rgba(255, 255, 255, 0.9) !important;
  transition: 0.3s;
  box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
  z-index: 9999;
}

.nav-links li {
  font-weight: 600;
  padding: 0px 10px;
}

.nav-item {
  position: relative;
}

.nav-item a {
  position: relative;
  color: var(--blue-color);
  text-decoration: none;
  font-size: 18px;
}

.nav-item a:hover {
  color: var(--blue-color) !important;
}

.nav-item a:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: var(--blue-color);
  transition: width 0.4s ease;
}

.nav-item a:hover:before {
  width: 100%;
  color: #000dff;
}

.nav-item:hover .dropdown {
  opacity: 1;
  visibility: visible;
}

.dropdown {
  position: absolute;
  opacity: 0;
  background-color: #000dff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.4s;
  min-width: 170px;
  visibility: hidden;
}

.dropdown a {
  color: #fff;
  transition: 0.4s;
  text-transform: capitalize;
}

.dropdown a:hover {
  margin-left: 10px;
  color: #fff !important;
}

.btn-post {
  padding: 15px 34px;
  background-color: var(--green-color);
  font-weight: 600;
  color: #fff;
  border-radius: 7px;
  font-size: 13px;
  letter-spacing: 1px;
}

.btn-login {
  position: relative;
  padding: 13px 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--blue-color);
  border-radius: 7px;
}

.btn-login button {
  border: none;
  outline: none;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  background-color: transparent;
  z-index: 10;
}

.btn-login span {
  position: absolute;
  height: 100%;
  left: 0;
  transform-origin: left center;
  width: 0;
  border-radius: 7px;
  transition: all 0.5s ease-in-out;
}

.btn-login:hover span {
  width: 100%;
  background-color: var(--green-color);
}

.hero-heading h1 {
  font-size: 50px;
}

.btn-job {
  position: relative;
  padding: 13px 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--blue-color);
  border-radius: 7px;
}

.btn-job button {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 10;
}

.btn-job span {
  position: absolute;
  height: 100%;
  left: 0;
  transform-origin: left center;
  width: 0;
  border-radius: 7px;
  transition: all 0.5s ease-in-out;
}

.btn-job:hover span {
  width: 100%;
  background-color: var(--green-color);
}

#go-top-btn {
  position: fixed;
  bottom: 20px;
  right: 25px;
  display: none;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  background-color: var(--blue-color);
  transition: 0.4s !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  z-index: 99;
}

#go-top-btn i {
  color: #fff;
  font-size: 25px;
}

.heading h1 {
  color: #000;
  font-weight: 700;
}

.blue-heading h1 {
  color: #000dff;
  font-size: 110px;
  font-weight: 700;
}

.btn-green {
  padding: 13px 49px;
  background-color: var(--green-color);
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
  font-size: 17px;
  border: none;
}

.btn-blue {
  padding: 15px 24px;
  background-color: var(--blue-color);
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #000dff;
  border-radius: 5px !important;
}

.hero {
  background-color: #f1f5f9;
  background-image: url("/assets/images/hero.webp");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 590px 697px;
}

.job-heading {
  font-size: 70px;
  font-weight: 700;
  color: #00044a;
  letter-spacing: 1.5px;
}

.jobs-box {
  border: 0.5px solid #ddd;
  transition: 0.4s;
}

.jobs-box:hover {
  box-shadow: -10px 10px 76px rgb(54 127 255 / 12%);
}

.jobs-box:hover button {
  background-color: #000dff;
  color: #fff;
}

.logo img {
  height: 40px;
  width: 40px;
}

.logo {
  background-color: #fff;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0.1px #ebebeb;
}

.btn-apply-now button {
  color: #000dff;
  font-weight: 600;
  padding: 14px 37px;
  transition: 0.5s;
  border: none;
}

.btn-apply-now button:hover {
  color: #fff;
  background-color: #000dff;
  font-weight: 600;
  padding: 14px 37px;
}

.about {
  background-color: #f1f5f9;
}

.about-heading h1 {
  font-size: 40px;
  color: #00044a;
  font-weight: 800;
  line-height: 3.3rem;
}

.about-content p {
  font-weight: 400 !important;
  font-size: 17px;
}

.btn-talent {
  position: relative;
  padding: 13px 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--blue-color);
  border-radius: 7px;
}

.btn-talent button {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 10;
}

.btn-talent span {
  position: absolute;
  height: 100%;
  left: 0;
  transform-origin: left center;
  width: 0;
  border-radius: 7px;
  transition: all 0.5s ease-in-out;
}

.btn-talent:hover span {
  width: 100%;
  background-color: var(--green-color);
}

.job-category-box {
  border: 0.5px solid #ddd;
  transition: 0.4s;
}

.btn-browse-job button {
  color: #000dff;
  background-color: #fff;
  font-weight: 600;
  padding: 14px 37px;
  transition: 0.5s;
  border: none;
}

.btn-browse-job button:hover {
  color: var(--text-blue);
  background-color: #f0f1ff;
  font-weight: 600;
  padding: 14px 37px;
}

.job-category-box:hover button {
  background-color: #f0f1ff;
  color: #000dff;
  margin-left: 15px;
}

.review-section {
  background-color: var(--blue-color);
  border-radius: 10px;
}

.reviews {
  padding: 100px 130px;
  background-image: url("/assets/images/testimonial-bg.webp");
  background-position: bottom right;
  background-repeat: no-repeat;
}

.reviews-content {
  font-size: 25px;
  color: #fff;
}

.testimonial {
  height: 70px;
  width: 70px;
}

.testimonial-name {
  letter-spacing: 1px;
}

.testimonial-job {
  font-size: 13px;
}

.reviews i {
  color: var(--green-color);
}

.fb {
  background-color: rgba(13, 25, 252, 0.06);
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.4s;
}

.fb:hover {
  background-color: #000dff;
}

.fb i {
  transition: 0.5s;
}

.fb:hover i {
  color: #fff;
  transform: rotateY(180deg);
}

.userful-links a {
  text-decoration: none;
  color: #6d6e8d;
  font-weight: 500;
  transition: 0.5s;
}

.userful-links a:hover {
  text-decoration: underline;
  color: #000dff;
  margin-left: 5px;
}

.btn-subscribe {
  width: 100%;
  background-color: var(--blue-color);
  padding: 14px 0px;
  letter-spacing: 1px;
  border: none;
}

.name i {
  color: #000dff;
}

.name a {
  text-decoration: none;
  color: #000dff;
}

.slick-slider {
  overflow: hidden !important;
}

.btn-job-login {
  padding: 13px 49px;
  background-color: var(--blue-color);
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
  font-size: 17px;
  border: none;
}

.about-jobs {
  background-color: #fbfbfb;
  height: fit-content;
}

.newsletter form input {
  outline: none;
  border: none;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: none;
  outline: 0;
  box-shadow: none;
}

.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.filter-section {
  box-shadow: -10px 10px 76px rgb(54 127 255 / 12%);
}

.btn-reset {
  background-color: var(--btn-green-bg);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 13px;
  width: 100%;
  padding: 15px 0px;
  transition: 0.4s;
  border: 1px solid #00d363;
  font-weight: 500;
}

.btn-reset:hover {
  background-color: #fff;
  color: #00d363;
  border: 1px solid #00d363;
}

.job-pic {
  background-color: #f5f7fa;
  border: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.green {
  color: #000;
  transition: 0.3s;
}

.green:hover {
  color: var(--btn-green-bg);
}

.gray {
  color: #aab1b7;
}

.favourite {
  background-color: #effdf5;
  transition: 0.4s;
}

.favourite i {
  color: var(--btn-green-bg);
}

.favourite:hover i {
  color: #fff;
}

.favourite:hover {
  background-color: #00d363;
}

.job-listening {
  border: 1px solid #fff;
  transition: 0.3s;
}

.job-listening:hover {
  border: 1px solid #00d363;
  border-radius: 3px;
}

.circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cccccc;
  transition: 0.4s;
}

.circle i {
  font-size: 29px;
  color: #cccccc;
}

.circle:hover {
  color: #00d363;
  border: 1px solid #00d363;
  transition: 0.4s;
}

.circle:hover i {
  color: #00d363;
}

.job-details-section {
  background-color: #fbfbfb;
}

.favourite-job a {
  text-decoration: none;
  color: #27cb8b;
}

.favourite-job {
  background-color: #effdf5;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00d363;
  transition: 0.4s;
  border-radius: 5px;
}

.favourite-job:hover {
  background-color: #00d363;
}

.favourite-job:hover i {
  color: #fff;
}

.responsibility-points li {
  color: #6d6e8d;
  padding: 5px 0px;
}

.job-summary-details ul li {
  list-style-type: circle;
  padding: 7px 0px;
}

.job-summary-details ul li span {
  color: #cccccc;
}

.share i {
  color: #d5d5d5;
  transition: 0.4s;
}

.share i:hover {
  color: var(--btn-green-bg);
}

/* Candidate CSS */

.candidate {
  background-color: #fbfbfb;
}

.candidate-name {
  color: #000;
  transition: 0.4s;
}

.candidate-name:hover {
  color: var(--btn-green-bg);
}

.candidate-dp:hover .candidate-name {
  color: var(--btn-green-bg);
}

.candidate-box {
  transition: 0.4s;
}

.candidate-box:hover {
  box-shadow: -10px 10px 76px rgb(54 127 255 / 12%);
}

.candidate-box:hover .candidate-name {
  color: var(--btn-green-bg);
}

.btn-send {
  background-color: transparent;
  border: 1px solid #000dff;
  letter-spacing: 2px;
  color: #000dff;
  transition: 0.4s;
}

.btn-send:hover {
  background-color: #000dff;
  color: #fff;
}

.contact-icon i {
  color: #6d6e8d;
}

.contact-icon a {
  color: #000;
}

/* Login Page CSS */

.btn-login-page button {
  background-color: #000dff;
  padding: 15px 34px;
}

.btn-sign-up-page button {
  background-color: #000dff;
  padding: 15px 34px;
}

@media screen and (max-width: 476px) {
  .btn-login {
    background-color: var(--blue-color);
    border-radius: 7px;
  }
  .job-heading {
    font-size: 45px;
  }

  .btn {
    padding: 17px 29px;
    font-size: 15px;
  }

  .btn-blue {
    padding: 16px 49px;
  }

  .about-heading h1 {
    font-size: 39px;
    color: #00044a;
    font-weight: 700;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .job-heading {
    font-size: 45px;
  }

  .btn {
    padding: 9px 29px;
    font-size: 15px;
  }

  .btn-blue {
    padding: 10px 29px;
  }
}

@media (max-width: 575.98px) {
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .job-heading {
    font-size: 45px;
  }

  .btn {
    padding: 17px 29px;
    font-size: 15px;
  }

  .btn-blue {
    padding: 16px 49px;
  }
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .hero {
    background: #f1f5f9;
  }
  .hero-heading h1 {
    font-size: 40px;
  }

  .button_slide {
    color: #000 !important;
  }

  .btn-blue {
    color: #fff !important;
  }

  .about-heading h1 {
    font-size: 27px;
    line-height: 2.3rem;
  }

  .about-content p {
    font-size: 15px;
  }

  .reviews {
    padding: 10px 20px;
  }

  .reviews-content {
    font-size: 15px;
    color: #fff;
    padding: 20px;
  }

  .contact-us-map iframe {
    width: 330px;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}

/* // XX-Large devices (larger desktops) */
/* // No media query since the xxl breakpoint has no upper bound on its width */
